// Reset
@import "reset";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;700&family=Poppins&display=swap');

body {
    min-height: 100vh;
    min-width: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 480px;
}

.container {
    max-width: 1790px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.page {
    flex: 1 1 auto;
}

//Components
@import "./components/cart";
@import "./components/navigation";

//Blocks
@import "./blocks/header";
@import "./blocks/breadcrumbs";
@import "./blocks/promo";
@import "./blocks/brands";
@import "./blocks/slider";
@import "./blocks/ideas";
@import "./blocks/category";
@import "./blocks/video";
@import "./blocks/match";
@import "./blocks/catalog";
@import "./blocks/footer";